<% @entries.each do |entry| %>
  <div class="span-20">
    <div class="entry">
      <h2><%= entry.name %> says <%= entry.message %></h2>
    </div>
  </div>
  <div class="span-4 last">
    <a href="/entry/<%= entry.id %>">View</a>
  </div>
  <hr />
<% end %>

<p><a href="/entry/new">Add entry</a></p>

