<div class="prepend-5 append-5 span-14 last">
  <h1>Sinatra Actions</h1>
</div>

<div class="prepend-5 append-2 span-5">
  <p>
    <form method="get" action="/action">
      <div><button type="submit">Get</button></div>
    </form>
  </p>

  <p>
    <form method="post" action="/action">
      <div><button type="submit">Post</button></div>
    </form>
  </p>

  <p>
    <form method="post" action="/action">
      <input class="hide" name="_method" value="put" />
      <div><button type="submit">Put</button></div>
    </form>
  </p>

  <p>
    <form method="post" action="/action">
      <input class="hide" name="_method" value="delete" />
      <div><button type="submit">Delete</button></div>
    </form>
  </p>
</div>

<div class="prepend-2 append-5 span-5 last">
  <p><a href="/hello/drew">hello link</a></p>
  <p><a href="/123-456-7890">phone number link</a></p>
</div>

