<h1>hello world</h1>

<form method="get" action="/action">
  <div><button type="submit">Get</button></div>
</form>

<form method="post" action="/action">
  <div><button type="submit">Post</button></div>
</form>

<form method="post" action="/action">
  <input class="hidden" name="_method" value="put" />
  <div><button type="submit">Put</button></div>
</form>

<form method="post" action="/action">
  <input class="hidden" name="_method" value="delete" />
  <div><button type="submit">Destroy</button></div>
</form>

