<html>
  <head>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
    <title>Guestbook</title>
  </head>
  <body>
    <div class="container">
      <div class="span-24">
        <img src="/images/chirb-logo.gif" />
      </div>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>

