<html>
  <head>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="screen, projection" />
    <title>Guestbook</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

